DS_Store
.ipynb_checkpoints/Example-checkpoint.ipynb
.ipynb_checkpoints/Interface-checkpoint.ipynb
cap.png
fundus_gores.png
fundus_rotary.png
gore/.ipynb_checkpoints/gore-checkpoint.py
gore/__pycache__/gore.cpython-37.pyc
gore/__pycache__/gore.cpython-38.pyc
rotary.png
__pycache__/goreui.cpython-38.pyc
__pycache__/goreui.cpython-38.pyc
__pycache__/goreui.cpython-38.pyc
gore/__pycache__/ui.cpython-38.pyc
output.png
fundus_cap.png
gore/__pycache__/ui.cpython-37.pyc
gore/__pycache__/gore2.cpython-37.pyc
.ipynb_checkpoints/develop gore2-checkpoint.ipynb
out.png
rotary_gores.png
develop gore2.ipynb
qt/app0.py
qt/test.jpg
qt/test2.jpg
qt/test.jpg
qt/test2.png
qt/__pycache__/app.cpython-37.pyc
qt/build/*
qt/dist/*
.DS_Store
#.gitignore#
#.gitignore#
qt/app.spec~
requirements.txt~
qt/output
qt/build_and_sign.bat
gore/__pycache__/gore2.cpython-38.pyc
gore/__pycache__/gore2.cpython-38.pyc
gore/__pycache__/gore2.cpython-38.pyc
*.pyc
installer build instructions.rtf
