altgraph==0.17.2
cx-Freeze==6.11.1
cycler==0.11.0
importlib-metadata==4.12.0
kiwisolver==1.4.3
macholib==1.16
matplotlib==3.4.3
numpy==1.21.6
opencv-python-headless==3.4.2.17
packaging==21.3
Pillow==9.1.1
pyinstaller-hooks-contrib==2022.7
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQtWebEngine-Qt5==5.15.2
python-dateutil==2.8.2
QtAwesome==1.1.1
QtPy==2.1.0
scipy==1.7.1
six==1.16.0
typing_extensions==4.2.0
zipp==3.8.0
